In [1]:
import pandas as pd

In [2]:
#reading dataset
file=pd.read_csv("C://Users//hi//Desktop//ram//Tweet_NFT.xlsx - Sheet1.csv")
#no of rows and columns
file.shape

(127453, 4)

In [3]:
#printing first five rows
file.head(5)

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763,Need Sick Character artâ“#art #artist #Artist...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community

In [4]:
#printing first five rows
file.tail(5)

,id,tweet_text,tweet_created_at,tweet_intent
127448,1278721,"@Jason My company Universe is solving this, an...",2022-08-08T03:32:01.000Z,NaN
127449,1278723,@BosoTokyo Many will get rekt in this NFT,2022-08-08T03:32:00.000Z,NaN
127450,1278724,@leeneedham81 @KibaInuWorld @HODL_OFFICIAL @Ko...,2022-08-08T03:32:00.000Z,NaN
127451,1278725,@1kz3ro @UNLEASHED_NFT I love this job,2022-08-08T03:31:59.000Z,NaN
127452,1278729,@Shill_Ronin @UNLEASHED_NFT my proof https://t...,2022-08-08T03:31:58.000Z,NaN

In [5]:
#information of datset like column name datatype and non null count 
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127453 entries, 0 to 127452
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                127453 non-null  int64
 1   tweet_text        127453 non-null  object
 2   tweet_created_at  127453 non-null  object
 3   tweet_intent      96364 non-null   object
dtypes: int64(1), object(3)
memory usage: 3.9+ MB

In [6]:
#no of null values in target column
df_na=file[file['tweet_intent'].isnull()]
df_na.shape

(31089, 4)

In [7]:
#target column having null values are saved in test.csv
df_na.to_csv("test.csv")

In [8]:
#no of non null values in target column
df_notna=file[file['tweet_intent'].notna()]
df_notna.shape

(96364, 4)

In [9]:
##target column having null values are saved in test.csv
df_notna.to_csv("train.csv")